<div class="col-md-4">
  <form class="mt-3 mb-4" (ngSubmit)="onUpdate()" [formGroup]="formGroup">
    <div class="form-group">
      <label>Username</label>
      <input type="hidden" formControlName="user_id" />
      <input type="text" formControlName="username" name="username" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.username.errors }" />
      <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
        <div *ngIf="form.username.errors.required">
          <i class="fa fa-exclamation-circle mr-2"></i>Username is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
      <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
        <div *ngIf="form.firstName.errors.required">
          <i class="fa fa-exclamation-circle mr-2"></i>First Name is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }" />
      <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
        <div *ngIf="form.lastName.errors.required">
          <i class="fa fa-exclamation-circle mr-2"></i>Last Name is required
        </div>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" id="male" value="M" formControlName="gender"
              [ngClass]="{ 'is-invalid': submitted && form.gender.errors }" />
            <label class="form-check-label" for="male">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" id="female" value="F" formControlName="gender"
              [ngClass]="{ 'is-invalid': submitted && form.gender.errors }" />
            <label class="form-check-label" for="female">
              Female
            </label>
          </div>
        </div>
        <div *ngIf="submitted && form.gender.errors" class="invalid-feedback">
          <div *ngIf="form.gender.errors.required">
            <i class="fa fa-exclamation-circle mr-2"></i>Gender is required
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group">
      <label>Birth Date</label>
      <div class="input-group">
        <input class="form-control" style="border-top-left-radius: 0.25rem;border-bottom-left-radius: 0.25rem;"
          placeholder="yyyy-mm-dd" formControlName="birthDate" ngbDatepicker #dp="ngbDatepicker"
          [ngClass]="{ 'is-invalid': submitted && form.birthDate.errors }" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"><i
              class="fa fa-calendar"></i></button>
        </div>
      </div>
      <div *ngIf="submitted && form.birthDate.errors" class="invalid-feedback">
        <div *ngIf="form.birthDate.errors.required">
          <i class="fa fa-exclamation-circle mr-2"></i>Birth Date is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="image">User Image</label>
      <input type="file" accept="image/*" class="form-control-file" name="image" id="image" (change)="onChange($event)"
        [ngClass]="{ 'is-invalid': submitted && form.image.errors }" />
      <div *ngIf="submitted && form.image.errors" class="invalid-feedback">
        <div *ngIf="form.image.errors.required">
          <i class="fa fa-exclamation-circle mr-2"></i>Image is required
        </div>
      </div>
    </div>
    <div class="mt-5">
      <button type="submit" class="btn btn-outline-primary w-50 mr-3" [disabled]="isLoading">
        <i class="fa" [ngClass]="{
            'fa-spin fa-spinner': isLoading,
            'fa-download': !isLoading
          }"></i>
        {{ button }}
      </button>
      <button type="button" (click)="back()" class="btn btn-outline-secondary">Cancel</button>
    </div>
  </form>
</div>
